.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 740px;
  background-image: url("images/g55318953badc11739dd3135ba0533885e4e13aef5bf38034ad6cfb9b26a2640d1228221bf983624feef1da91b359d0c31e1859d5554a4bf60715f6c0366edc80_1280.jpg");
  background-position: 53.2% 100%;
  background-size: auto 110%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 740px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 60px;
}

.u-section-1 .u-text-2 {
  margin: 30px 60px 0;
}

.u-section-1 .u-form-1 {
  height: 325px;
  width: 450px;
  margin: 120px auto 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 164px 60px 0 auto;
  padding: 10px 34px;
}

.u-section-1 .u-text-3 {
  margin: -36px 289px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-1 .u-image-1 {
    min-height: 610px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 239px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    min-height: 467px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 139px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-image-1 {
    min-height: 701px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-image-1 {
    min-height: 441px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}