html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

.u-section-1 .u-sheet-1 {
  min-height: 1040px;
}

.u-section-1 .u-shape-1 {
  width: 229px;
  height: 229px;
  background-image: none;
  margin: 55px 136px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 270px;
  left: 55px;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 890px;
  height: 605px;
  object-position: 38.45% 50%;
  background-position: 0% 50%;
  margin: -162px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 347px;
  width: 625px;
  margin: -306px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 6px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 186px;
    height: 968px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -279px auto 0 55px;
  }

  .u-section-1 .u-image-1 {
    width: 697px;
    height: 511px;
    margin-top: -824px;
  }

  .u-section-1 .u-group-1 {
    min-height: 399px;
    margin-top: -158px;
    margin-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 55px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-2 {
    left: 55px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-image-1 {
    width: 588px;
    height: 425px;
    margin-top: -135px;
  }

  .u-section-1 .u-group-1 {
    min-height: 442px;
    width: 424px;
    margin-top: -135px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-shape-1 {
    width: 204px;
    height: 204px;
    margin-top: 57px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 467px;
    height: 337px;
    margin-top: -117px;
  }

  .u-section-1 .u-group-1 {
    min-height: 407px;
    margin-top: -47px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-shape-1 {
    width: 96px;
    height: 96px;
    margin-top: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 148px;
    height: 787px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -159px auto 0 22px;
  }

  .u-section-1 .u-image-1 {
    width: 310px;
    height: 233px;
    margin-top: -694px;
  }

  .u-section-1 .u-group-1 {
    min-height: 427px;
    width: 296px;
    margin-top: -23px;
    margin-bottom: -6px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}